.ui-tooltip {
  opacity: 0.8;
}

.control:hover { 
  /*cursor:pointer;*/
}

/*
  @font-face {
  font-family: Crystal;
  src: url(font.ttf);
}*/

.text {
  font-family: Crystal;
  display:none;
}

#map {
  background: url('cnt90/cnt-90.jpg') no-repeat;
  position: relative;
  top: -50px
}
	
/*.xaxisLabel {
		margin-top: 5px;
}*/

.yaxisLabel {
		margin-left: 30px;
}

#placeholder {
  display: none;
  position: absolute;
  top: 160px;
  left: 110px;
  width: 555px;
  height: 175px;
  
  background-image: url(cnt90/empty_monitor.png);
}

#placeholder { z-index: 2; }
#map { z-index: 1; }